@media (max-width: 768px) {
    .section img {
        display: none;
    }

    .fillout {
        display: none;
    }
}

@media (min-width: 768px) {
    .fillout-button {
        display: none;
    }
}

@font-face{
    font-family: Liham;
    src: url(assets/fonts/Liham.otf) format('opentype');
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(black, #342c4d);
    align-items: center;
    background-attachment: fixed;
}

.rocket {
    position: absolute;
    top: 60%;
    left: -100px;
    transform: translateY(-50%);
    animation: fly linear forwards;
    overflow: hidden; /* Add this line */
}

.rocket img {
    height: 50vh;
    transform: rotate(90deg);
}

@keyframes fly {
    0% {
        left: -350px;
    }
    100% {
        left: 100%;
    }
}

.fillout {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.fillout-button {
    text-decoration: none;
}

.fillout-button button {
    text-align: center;
    background-color: rgb(0, 142, 250);
    display: block;
    margin: 0 auto;
    color: white;
    font-family: Lato;
    font-size: 2em;
    border-radius: 1em;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.title {
    text-align: center;
    clip-path: inset(0 100% 0 0);
    animation: reveal linear forwards;
}

.titleimg {
    height: 40vh;
}

.title h1 {
    color: #edc547;
    font-family: Major Mono Display;
    font-size: 8vh;
}

.title h2 {
    color: #d58c36;
    font-family: Calibri;
    font-weight: 300;
    font-size: 2em;
}

@keyframes reveal {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

br {
    display: block;
    margin: 10px 0;
    content: " ";
}

.section {
    width: 95%;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    border-spacing: 1em;
}

.section.visible {
    opacity: 1;
}

.section img {
    height: 15em;
}

.section p,
.section li {
    font-size: 1.5em;
    font-family: Liham;
    text-align: center;
    color: #edc547
}

.section p {
    word-break: break-word;
    hyphens: auto;
}

.section table img {
    width: 10em;
}

.container {
    position: relative; /* Make the container a positioning context */
}

.top-right {
    position: absolute;
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
}

@keyframes fly-in-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fly-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.fly-in-left.visible {
    animation: fly-in-left 1.5s ease-out;
}

.fly-in-right.visible {
    animation: fly-in-right 1.5s ease-out;
}