a {
    text-decoration: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in { animation: fadeIn 3s; }

@keyframes twinkle {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.stars {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1; /* Ensure stars are behind other content */
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    opacity: 0;
    animation: twinkle 0.8s infinite ease-in-out;
}

/* Generate multiple stars with different positions and animation delays */
.star:nth-child(1) { top: 10%; left: 20%; animation-delay: 0s; }
.star:nth-child(2) { top: 30%; left: 40%; animation-delay: 0.5s; }
.star:nth-child(3) { top: 50%; left: 60%; animation-delay: 1s; }
.star:nth-child(4) { top: 70%; left: 80%; animation-delay: 1.5s; }
.star:nth-child(5) { top: 90%; left: 10%; animation-delay: 2s; }
/* Add more stars as needed */

@media (max-width: 768px) {
    .section img {
        display: none;
    }

    .fillout {
        display: none;
    }
}

@media (min-width: 768px) {
    .fillout-button {
        display: none;
    }
}

@font-face {
    font-family: Liham;
    src: url(assets/fonts/Liham.otf) format('opentype');
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(black, #342c4d);
    align-items: center;
    background-attachment: fixed;
    overflow-y: scroll;
    margin: 0;
}

.rocket {
    position: absolute;
    top: 60%;
    left: -100px;
    transform: translateY(-50%);
    animation: fly linear forwards;
    overflow: hidden; /* Add this line */
}

.rocket img {
    height: 50vh;
    transform: rotate(90deg);
}

@keyframes fly {
    0% {
        left: -350px;
    }
    100% {
        left: 100%;
    }
}

.fillout {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.fillout-button {
    text-decoration: none;
}

.fillout-button button, button {
    text-align: center;
    background-color: rgb(0, 142, 250);
    display: block;
    margin: 0 auto;
    color: white;
    font-family: Lato;
    font-size: 2em;
    border-radius: 1em;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: rgb(0, 142, 250);
}

footer {
    text-align: center;
    color: white;
    background-color: #333;
    font-family: Lato;
    font-size: 1.5em;
    margin-top: 1em;
    padding: 1em 0;
    width: 100%;
    opacity: 0.75;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.nav {
    display: inline-block;
    border-radius: 15px;
    list-style-type: none;
    margin: 0;
    margin-top: 1em;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: Lato;
}

.nav li {
    display: inline;
    margin-right: 0.25em;
    margin-left: 0.25em;
    float: left;
}

.nav li:first-child {
    margin-left: 0;
}

.nav li:last-child {
    margin-right: 0;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
}

.nav li.active a:hover {
    background-color: violet;
}

.nav li a:hover {
    background-color: #111;
    border-radius: 1em;
}

.title {
    text-align: center;
    clip-path: inset(0 100% 0 0);
    animation: reveal linear forwards;
}

.titleimg {
    max-width: 100%;
    max-height: 40vh;
}

.title h1 {
    color: #edc547;
    font-family: Major Mono Display;
    text-transform: lowercase;
    font-size: 8vh;
}

.title h2 {
    color: #d58c36;
    font-family: Calibri;
    font-weight: 300;
    font-size: 2em;
}

@keyframes reveal {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

br {
    display: block;
    margin: 10px 0;
    content: " ";
}

.section {
    width: 95%;
    padding: 0 3em;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    border-spacing: 1em;
}

.section.visible {
    opacity: 1;
}

.section img {
    height: 15em;
}

.section p,
.section li {
    font-size: 1.5em;
    font-family: Liham;
    text-align: center;
    color: #edc547;
}

.section p {
    word-break: break-word;
    hyphens: auto;
}

.section table img {
    width: 10em;
}

.container {
    position: relative; /* Make the container a positioning context */
}

.top-right {
    position: absolute;
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
}

@keyframes fly-in-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fly-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.fly-in-left.visible {
    animation: fly-in-left 1.5s ease-out;
}

.fly-in-right.visible {
    animation: fly-in-right 1.5s ease-out;
}